# Extracting Stock Data Using Web Scraping

In [1]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install lxml
!pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anaconda3\lib\site-packages (from requests) (2024.8.30)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\you computer\appdata\roaming\python\python312\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\you computer\appdata\roaming\python\python312\site-packages (from beautifulsoup4->bs4) (2.7)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\you computer\appdata\roaming\python\python312\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\anaconda3\lib\site-packages (5.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in c:\users\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\anaconda3\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\anaconda3\lib\site-packages (from plotly) (24.1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [25]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Steps for extracting the data

#### 1.Send an HTTP request to the web page using the requests library.

In [1]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data = requests.get(url).text
# print(data)

NameError: name 'requests' is not defined

#### 2.Parse the HTML content of the web page using BeautifulSoup.

In [29]:
# create Beautifulsoup object
soup = BeautifulSoup(data, "html.parser")

#### 3.Identify the HTML tags that contain the data you want to extract.

In [30]:
# scrape the content of the HTML web page and convert the table into a data frame.
# create an empty data frame using the pd.DataFrame() function with the following columns
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close","Volume"])

<hr>
<hr>
<center>

### Working on HTML table  </center>
<br>

These are the following tags which are used while creating HTML tables.

* &lt;table&gt;: This tag is a root tag used to define the start and end of the table. All the content of the table is enclosed within these tags. 


* &lt;tr&gt;: This tag is used to define a table row. Each row of the table is defined within this tag.

* &lt;td&gt;: This tag is used to define a table cell. Each cell of the table is defined within this tag. You can specify the content of the cell between the opening and closing <td> tags.

* &lt;th&gt;: This tag is used to define a header cell in the table. The header cell is used to describe the contents of a column or row. By default, the text inside a <th> tag is bold and centered.

* &lt;tbody&gt;: This is the main content of the table, which is defined using the <tbody> tag. It contains one or more rows of <tr> elements.

<hr>
<hr>

#### 4.Use BeautifulSoup methods to extract the data from the HTML tags.

We will use <b>find()</b> and <b>find_all()</b> methods of the BeautifulSoup object to locate the table body and table row respectively in the HTML. 
   * The <i>find() method </i> will return particular tag content.
   * The <i>find_all()</i> method returns a list of all matching tags in the HTML.

In [31]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[5].text

#Finally we append the data of each row to the table
netflix_data = pd.concat([netflix_data, pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj_Close":[adj_close],"Volume":[volume]})], ignore_index=True)

#### 5.Print the extracted data

In [32]:
netflix_data.head()

           Date    Open    High    Low   Close       Volume Adj_Close
0  Sep 01, 2015  109.35  111.24  93.55  103.26  497,401,200    103.26

**pd.read_html(url)** is a function provided by the pandas library in Python that is used to extract tables from HTML web pages. It takes in a URL as input and returns a list of all the tables found on the web page.

In [37]:
read_html_pandas_data = pd.read_html(url)

#convert the BeautifulSoup object to a string.
read_html_pandas_data = pd.read_html(str(soup))

#take the first table in the returned list.
netflix_dataframe = read_html_pandas_data[0]

#print only 5 first rows
netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [35]:
#last row of Open
netflix_dataframe["Open"].iloc[-1]

'*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.'

In [38]:
# get title attribute
soup.title

In [39]:
#name of column
netflix_dataframe.columns

Index(['Date', 'Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume'], dtype='object')