In [1]:
# from bs4 import BeautifulSoup
# import requests
# URL = "http://www.example.com"
# page = requests.get(URL)
# soup = BeautifulSoup(page.content, "html.parser")

In [2]:
# import scrapy
# class QuotesSpider(scrapy.Spider):
#     name = "quotes"
#     start_urls = ['http://quotes.toscrape.com/tag/humor/',]
#     def parse(self, response):
#         for quote in response.css('div.quote'):
#             yield {'quote': quote.css('span.text::text').get()}

In [3]:
# from selenium import webdriver
# driver = webdriver.Firefox()
# driver.get("http://www.example.com")

# Web scraping

In [4]:
# Install libraries for web scraping and data analysis
!pip install bs4
!pip install lxml
!pip install html5lib
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\you computer\appdata\roaming\python\python312\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\you computer\appdata\roaming\python\python312\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\you computer\appdata\roaming\python\python312\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\you computer\appdata\roaming\python\python312\site-packages (from beautifulsoup4->bs4) (4.14.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\anaconda3\lib\site-packages (5.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\you computer\appdata\roaming\python\python312\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
# suppress all warnings
import warnings
warnings.simplefilter("ignore")

In [6]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests # this module helps us to download a web page

In [7]:
%%html
<!DOCTYPE  html>
<html>
    
<head>
    <title>Page Title</title>
</head>    
    <body>
        <h3><b id= "boldest">Lebron James</b></h3>
        <p>Salary: $ 92,000,000</p>
        <h3>Stephen Curry</h3>
        <p>Salary: $ 85,000,000</p>
        <h3><Kevin Durant</h3>
        <p>Salary: $ 73,000,000</p>
    </body>    
</html>

In [8]:
# We can store it as a string in the variable HTML
html = """<!DOCTYPE  html><html><head><title>Page Title</title></head><body><h3><b id= "boldest">Lebron James</b></h3><p>Salary: $ 92,000,000</p><h3>Stephen Curry</h3><p>Salary: $ 85,000,000</p><h3><Kevin Durant</h3><p>Salary: $ 73,000,000</p></body></html>"""

In [9]:
soup = BeautifulSoup(html,"html.parser")

In [10]:
print(soup.prettify())

<!DOCTYPE  html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $ 85,000,000
  </p>
  <h3>
   <kevin durant<="" h3="">
    <p>
     Salary: $ 73,000,000
    </p>
   </kevin>
  </h3>
 </body>
</html>

In [11]:
# check title tag
tag_object = soup.title
print("tag_title: ", tag_object)

tag_title:  <title>Page Title</title>

In [12]:
# see tag type
print("tag object type: ", type(tag_object))

tag object type:  <class 'bs4.element.Tag'>

In [13]:
tag_object = soup.h3
tag_object

## children , Parents, siblings

In [14]:
t_chil = tag_object.b
t_chil

In [15]:
# access parants
parentTag = t_chil.parent
parentTag

In [16]:
tag_object.parent

In [17]:
sib1 = tag_object.next_sibling
sib1

In [18]:
sib2 = sib1.next_sibling
sib2

## HTML Attributes

In [19]:
t_chil["id"]

'boldest'

In [20]:
t_chil.attrs

{'id': 'boldest'}

In [21]:
# get id
t_chil.get("id")

'boldest'

In [22]:
## Navigable String
t_str = t_chil.string
t_str

'Lebron James'

In [23]:
type(t_str)

bs4.element.NavigableString

In [24]:
# convert NavigableString to Python or unicode string
pythonStr = str(t_str)
pythonStr

'Lebron James'

## Filter

In [25]:
%%html
<h3>Rocket Launch </h3>
<p>
<table class='rocket'>
<tr>
 <td id='flight' >Flight No</td>
 <td>Launch site</td>
 <td>Payload mass</td>
</tr>

<tr>
 <td>1</td>
 <td><a href ='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
 <td>300 kg</td>
</tr>
 
<tr>
 <td>2</td>
 <td><a href ='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
 <td>94 kg</td>
</tr>

<tr>
 <td>3</td>
 <td><a href ='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
 <td>80 kg</td>
</tr>
</table>
</p>
<p>

In [26]:
# Add html to string
table = "<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

# create BeautifulSoup object
table_bs = BeautifulSoup(table,"html.parser")

In [27]:
# usr findall looks a tag's descendants
tb_rows = table_bs.find_all("tr")
tb_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [28]:
first_row = tb_rows[0]
print("This is first row: ",first_row)

first_row.td

This is first row:  <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>

In [29]:
for i, row in enumerate(tb_rows):
    print("row: ", i, "is ", row)

row:  0 is  <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row:  1 is  <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row:  2 is  <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row:  3 is  <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [30]:
for i, row in enumerate(tb_rows):
    print("row ", i)
    cells= row.find_all("td")
    for j, cell in enumerate(cells):
        print("column ", j, "cell ",cell)

row  0
column  0 cell  <td id="flight">Flight No</td>
column  1 cell  <td>Launch site</td>
column  2 cell  <td>Payload mass</td>
row  1
column  0 cell  <td>1</td>
column  1 cell  <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
column  2 cell  <td>300 kg</td>
row  2
column  0 cell  <td>2</td>
column  1 cell  <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column  2 cell  <td>94 kg</td>
row  3
column  0 cell  <td>3</td>
column  1 cell  <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
column  2 cell  <td>80 kg</td>

In [31]:
# use list 
list_input = table_bs.find_all(name=["tr", "td"])
print(list_input)

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>, <td id="flight">Flight No</td>, <td>Launch site</td>, <td>Payload mass</td>, <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>, <td>1</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>, <td>300 kg</td>, <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>, <td>2</td>, <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>, <td>94 kg</td>, <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>, <td>3</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>, <td>80 kg</td>]

## Attributes

In [32]:
table_bs.find_all(id="flight")
table_bs

<table><tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr></table>

In [33]:
# find link (href = hyperlink referance use to define destination of a link)
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [34]:
soup.find_all(id="boldest")

## Find method

In [35]:
table_bs.find(table)

# filter on the class attribute
table_bs.find("table")

<table><tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr></table>

## Downloading And Scraping The Contents Of A Web Page

In [36]:
# Download content of the web page
import requests

url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"

data = requests.get(url).text

# create BeautifulSoup object
soup = BeautifulSoup(data, "html.parser")

# Scrap all links
for link in soup.find_all("a", href=True):
    print(link.get("href"))

https://web.archive.org/web/20230224123642/https://www.ibm.com/reports/threat-intelligence/
https://web.archive.org/web/20230224123642/https://www.ibm.com/about
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/strategy/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/ibmix?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/technology/
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/operations/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/strategic-partnerships
https://web.archive.org/web/20230224123642/https://www.ibm.com/employment/?lnk=flatitem
https://web.archive.org/web/20230224123642/https://www.ibm.com/impact
https://web.archive.org/web/20230224123642/https://research.ibm.com/
https://web.archive.org/web/20230224123642/https://www.ibm.com/

## Scrape all images Tags

In [37]:
for link in soup.find_all("img"):
    print(link)
    print(link.get("src"))

<img alt="Person standing with arms crossed" aria-describedby="bx--image-1" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
<img alt="Team members at work in a conference room" aria-describedby="bx--image-2" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
<img alt="Coworkers looking at laptops" aria-describedby="bx--image-3" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
<img alt="Cloud developer with red sweater coding at desk" aria-describedby="bx--image-4" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" aria-describedby="bx--image-5" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" aria-describedby="bx--image-6" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [38]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

# get contant of web page
data = requests.get(url).text

# create soup object
soup = BeautifulSoup(data,"html.parser")

# find html table in the web page
table = soup.find("table")

# Get all rows of the table
for row in table.find_all("tr"):
    # Get colums in each row
    cols = row.find_all("td")
    color_name = cols[2].string
    color_code = cols[3].string
    print("{}----->{}".format(color_name, color_code))

Color Name----->None
lightsalmon----->#FFA07A
salmon----->#FA8072
darksalmon----->#E9967A
lightcoral----->#F08080
coral----->#FF7F50
tomato----->#FF6347
orangered----->#FF4500
gold----->#FFD700
orange----->#FFA500
darkorange----->#FF8C00
lightyellow----->#FFFFE0
lemonchiffon----->#FFFACD
papayawhip----->#FFEFD5
moccasin----->#FFE4B5
peachpuff----->#FFDAB9
palegoldenrod----->#EEE8AA
khaki----->#F0E68C
darkkhaki----->#BDB76B
yellow----->#FFFF00
lawngreen----->#7CFC00
chartreuse----->#7FFF00
limegreen----->#32CD32
lime----->#00FF00
forestgreen----->#228B22
green----->#008000
powderblue----->#B0E0E6
lightblue----->#ADD8E6
lightskyblue----->#87CEFA
skyblue----->#87CEEB
deepskyblue----->#00BFFF
lightsteelblue----->#B0C4DE
dodgerblue----->#1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [39]:
import pandas as pd

url = url = "https://en.wikipedia.org/wiki/World_population"

data = requests.get(url).text

soup = BeautifulSoup(data, "html.parser")

tables  = soup.find_all("table")

print(len(tables))

for index, table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index

print(table_index)

26
5

In [40]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5Â million)
  </small>
  <sup class="reference" id="cite_ref-:10_106-0">
   <a href="#cite_note-:10-106">
    <span class="cite-bracket">
     [
    </span>
    101
    <span class="cite-bracket">
     ]
    </span>
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/40px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/60px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="307" data-file-width="512" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/40px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/60px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon nowrap">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/40px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/60px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/Palestine" title="Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-107">
      <a href="#cite_note-107">
       <span class="cite-bracket">
        [
       </span>
       note 3
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
     <sup class="reference" id="cite_ref-108">
      <a href="#cite_note-108">
       <span class="cite-bracket">
        [
       </span>
       102
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/40px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/60px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
    <sup class="reference" id="cite_ref-109">
     <a href="#cite_note-109">
      <span class="cite-bracket">
       [
      </span>
      note 4
      <span class="cite-bracket">
       ]
      </span>
     </a>
    </sup>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/40px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/60px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="1920" data-file-width="2880" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/40px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/60px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/40px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/60px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/40px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/60px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/40px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/60px-Flag_of_Israel.svg.png 2x" width="21"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,402,617
   </td>
   <td>
    21,937
   </td>
   <td>
    429
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/40px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/60px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
 </tbody>
</table>

In [41]:
# create dataframe

#Crate colums head
poppu_data = pd.DataFrame(columns=["Rank","Country","Population", "Area", "Density"])

# screp data each row
for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        rank = col[0].text.strip()
        country = col[1].text.strip()
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()

        # create temporary dataframe for the new row
        NewRow = pd.DataFrame([{"Rank":rank,"Country":country,"Population":population, "Area":area, "Density":density}])

        # Use concat
        poppu_data = pd.concat([poppu_data, NewRow], ignore_index=True)

poppu_data

  Rank                 Country     Population       Area Density
0    1               Singapore      5,921,231        719   8,235
1    2              Bangladesh    165,650,475    148,460   1,116
2    3  Palestine[note 3][102]      5,223,000      6,025     867
3    4          Taiwan[note 4]     23,580,712     35,980     655
4    5             South Korea     51,844,834     99,720     520
5    6                 Lebanon      5,296,814     10,400     509
6    7                  Rwanda     13,173,730     26,338     500
7    8                 Burundi     12,696,478     27,830     456
8    9                  Israel      9,402,617     21,937     429
9   10                   India  1,389,637,446  3,287,263     423

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

In [46]:
import bs4
print(bs4.__version__)

4.13.4

In [48]:
pd.read_html(str(tables[5]), flavor='bs4') # à¸«à¸²à¸à¸¥à¸­à¸à¹à¸à¹ pd.read_html() à¹à¸¥à¹à¸§à¹à¸à¸­à¸à¸±à¸à¸«à¸² à¸à¸¶à¸à¸à¹à¸­à¸¡à¸¹à¸¥à¹à¸¡à¹à¹à¸à¹ à¸«à¸£à¸·à¸­à¸à¸¶à¸à¸¡à¸²à¸à¸´à¸à¹à¸à¸µà¹à¸¢à¸ à¸à¸²à¸£à¹à¸à¸¥à¸µà¹à¸¢à¸à¸¡à¸²à¹à¸à¹ flavor='bs4'

[   Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][102]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                  Israel     9402617       21937                429
 9    10                   India  1389637446     3287263                423]

In [49]:
#The function read_html always returns a list of DataFrames

population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423

# Scrape data from HTML tables into a DataFrame using read_html

In [52]:
dataframe_list = pd.read_html(url, flavor='bs4')

len(dataframe_list)

dataframe_list[5]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423

In [53]:
#use the match parameter to select the specific table 
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423