In [ ]:
# from bs4 import BeautifulSoup
# import requests
# URL = "http://www.example.com"
# page = requests.get(URL)
# soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
# import scrapy
# class QuotesSpider(scrapy.Spider):
#     name = "quotes"
#     start_urls = ['http://quotes.toscrape.com/tag/humor/',]
#     def parse(self, response):
#         for quote in response.css('div.quote'):
#             yield {'quote': quote.css('span.text::text').get()}

In [ ]:
# from selenium import webdriver
# driver = webdriver.Firefox()
# driver.get("http://www.example.com")

# Web scraping

In [10]:
# Install libraries for web scraping and data analysis
!pip install bs4
!pip install lxml
!pip install html5lib
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\you computer\appdata\roaming\python\python312\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\you computer\appdata\roaming\python\python312\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\anaconda3\lib\site-packages (5.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\you computer\appdata\roaming\python\python312\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
# suppress all warnings
import warnings
warnings.simplefilter("ignore")

In [12]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests # this module helps us to download a web page

In [16]:
%%html
<!DOCTYPE  html>
<html>
    
<head>
    <title>Page Title</title>
</head>    
    <body>
        <h3><b id= "boldest">Lebron James</b></h3>
        <p>Salary: $ 92,000,000</p>
        <h3>Stephen Curry</h3>
        <p>Salary: $ 85,000,000</p>
        <h3><Kevin Durant</h3>
        <p>Salary: $ 73,000,000</p>
    </body>    
</html>

In [31]:
# We can store it as a string in the variable HTML
html = """<!DOCTYPE  html><html><head><title>Page Title</title></head><body><h3><b id= "boldest">Lebron James</b></h3><p>Salary: $ 92,000,000</p><h3>Stephen Curry</h3><p>Salary: $ 85,000,000</p><h3><Kevin Durant</h3><p>Salary: $ 73,000,000</p></body></html>"""

In [32]:
soup = BeautifulSoup(html,"html.parser")

In [33]:
print(soup.prettify())

<!DOCTYPE  html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $ 85,000,000
  </p>
  <h3>
   <kevin durant<="" h3="">
    <p>
     Salary: $ 73,000,000
    </p>
   </kevin>
  </h3>
 </body>
</html>

In [34]:
# check title tag
tag_object = soup.title
print("tag_title: ", tag_object)

tag_title:  <title>Page Title</title>

In [35]:
# see tag type
print("tag object type: ", type(tag_object))

tag object type:  <class 'bs4.element.Tag'>

In [36]:
tag_object = soup.h3
tag_object

## children , Parents, siblings

In [37]:
t_chil = tag_object.b
t_chil

In [38]:
# access parants
parentTag = t_chil.parent
parentTag

In [39]:
tag_object.parent

In [40]:
sib1 = tag_object.next_sibling
sib1

In [42]:
sib2 = sib1.next_sibling
sib2

## HTML Attributes

In [43]:
t_chil["id"]

'boldest'

In [44]:
t_chil.attrs

{'id': 'boldest'}

In [46]:
# get id
t_chil.get("id")

'boldest'

In [47]:
## Navigable String
t_str = t_chil.string
t_str

'Lebron James'

In [48]:
type(t_str)

bs4.element.NavigableString

In [50]:
# convert NavigableString to Python or unicode string
pythonStr = str(t_str)
pythonStr

'Lebron James'

## Filter

In [59]:
%%html
<table>
<tr>
 <td id='flight' >Flight No</td>
 <td>Launch site</td>
 <td>Payload mass</td>
</tr>

<tr>
 <td>1</td>
 <td><a href ='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
 <td>300 kg</td>
</tr>
 
<tr>
 <td>2</td>
 <td><a href ='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
 <td>94 kg</td>
</tr>

<tr>
 <td>3</td>
 <td><a href ='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
 <td>80 kg</td>
</tr>
</table>

In [51]:
# Add html to string
table = "<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table,"html.parser")

In [54]:
# usr findall looks a tag's descendants
tb_rows = table_bs.find_all("tr")
tb_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [64]:
first_row = tb_rows[0]
print("This is first row: ",first_row)

first_row.td

This is first row:  <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>

In [63]:
for i, row in enumerate(tb_rows):
    print("row: ", i, "is ", row)

row:  0 is  <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row:  1 is  <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row:  2 is  <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row:  3 is  <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [ ]:
for i, row in enumerate(tb_rows):
    print("row ", i)
    cells= row.find_all("td")
    for j, cell in enumerate(cells):
        print("column ", j, "is ",cell)